h1 {
    color:blue; 
    background-color: black;
}

h2 {
    color:red; 
    background-color: white;
}

div {
    background-color: blueviolet;
}

p {
    color: white;
    background-color: black;
}

#unique {
    color: pink;
}

.another {
    color:red
}