.border1 {
    border-style:dotted;
    border-width: thick;
    border-color: greenyellow;
}

*{
    background-image: url(images/space.jpg);
    background-repeat: no-repeat;
    color:royalblue;
    background-attachment: fixed;
    opacity: 1.0;
}

body {
    background-image: linear-gradient(45deg, black, maroon, rgb(0, 0, 58), rgb(0,244,173));
}

h1 {
    color: rgba(255,0,0,1);
    background-color: gray;
}

h2 {
    color: #fff000;
    background-color: black;
    opacity: 0.6;
}

p {
    color:rgb(19, 90, 51)
    background-color rgb (10, 77, 2)
    border-style dotted;

}


/* comments 
rgba stands for red green blue alpha....
the alpha just means you have to add another value to the end of rgb.
alpha means the transparency of the color. 

HEX means using a 6 character sequence for colors 
#ff0000 red, 0 green, 0 blue mixed will give you the color insted of using only numbers. 
ff is max value of that color 00 is min value.  

HSL means Hue, Saturation and Lightness. 
Hue ranges from 0 - 360
Saturation 0% - 100%
Lighness 0% - 100% 
hsl will populate the with (Hue, Saturation, Lightness) Just delete the letetrs and input number values

Opacity sets the transparency for the entire element (both the text and background)
Opacity property value must be between 0.0 (fully transparent) and 1.0 (fully opaque)

h2 {        #Example of css syntax for colors
    color: #fff000;
    background-color: black;
    opacity: 0.6;
}

*/